.App {
  text-align: center;
  display: flexbox;
  flex-direction: column;
}

.Input {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputHead {
  border: none;
  align-self: center;
  margin-bottom: 100px;
}

.inputFoot {
  align-self: center;
  align-items: center;
  border: none;
}

.inputFoot #file {
  margin-top: 30px;
  margin-bottom: 20px;
  align-self: center;
  width: fit-content;
  color: white;
}

.inputFoot #submit {
  width: 100px;
  height: 75px;
  background-color: lightgreen;
  border: none;
  border-radius: 9px;
  margin-top: 50px
}

.Input textarea {
  border-radius: 9px;
  border: none;
  margin-top: 10px;
  background-color: #262625;
  color: white;
  padding: 10px;
}

.Input #apiKey {
  border: none;
  border-radius: 9px;
  background-color: #262625;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

.Input #Selection {
  background-color: #262625;
  border: none;
  border-radius: 9px;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.StatusAlert {
  color: white;
  margin-top: 50pt;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
  margin-right: 10px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.Input #ephemeral {
  border: none;
  background-color:  #262625;
  border-radius: 9px;
  padding: 10px;
  color: white;
}